.main-impact{
    height: 100vh;
    background-image: var(--bg-img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.impact__frase {
    font-size: 4em;
    font-family: var(--font-alpha)

}
.impact__frase span{
    color: var(--font-color-beta);
}
